<nav role="navigation" class="cluster">



  <ul>
    {% for item in collections.navigation %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@0/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'X5ZL4DYLTL',
    apiKey: '1c1a1dc5ecd1a9a44f8bc75c2408ad38',
    siteId: '66817e14-fb59-44a8-bfc6-2a50ff8d592e',
    branch: 'master',
  });
</script>
      <li
        {% if item.url == '/' and page.url == '/' or (item.url != '/' and item.url in page.url) %}
          class="current"
        {% endif %}>
        <a href="{{ item.data.nav.away or item.url }}">{{ item.data.nav.title or item.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
