<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include "head.njk" %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@0/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'X5ZL4DYLTL',
    apiKey: '1c1a1dc5ecd1a9a44f8bc75c2408ad38',
    siteId: '66817e14-fb59-44a8-bfc6-2a50ff8d592e',
    branch: 'master',
  });
</script>
  </head>
  
  <title>Algoliasearch Netlify Test Website</title>
  <meta name="description" content="Algolia x Netlify testing website." />

  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/necolas/normalize.css@8.0.1/normalize.css" />

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      max-width: 1024px;
      margin: auto;
      font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
        'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    }

    h1 {
      text-align: center;
    }

    button {
      padding: 4px 8px;
      border-radius: 2px;
      border: 1px solid #ccc;
    }

    #search {
      width: 60%;
      display: block;
      margin: 16px auto;
      padding: 8px 16px;
      font-size: 1.2em;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    #debug-script {
      background: #2d3155;
      color: white;
      border-radius: 4px;
      padding: 16px;
    }

    #debug-script-grid {
      display: grid;
      grid-template-columns: 1fr 20fr;
      align-items: baseline;
      column-gap: 16px;
      row-gap: 8px;
    }

    #debug-script-grid>*:nth-child(2n - 1),
    #error-title {
      font-weight: bold;
      white-space: nowrap;
    }

    #debug-script-grid>*:nth-child(2n) {
      font-family: monospace;
    }

    #toggle-dev-prod-container {
      text-align: right;
    }

    #toggle-dev-prod {
      font-size: 0.8em;
    }

    #source-editor {
      height: 300px;
      margin-top: 4px;
      border-radius: 4px;
    }

    #error-title {
      display: none;
      margin-top: 16px;
    }

    #error {
      color: #f86e7e;
      margin-top: 8px;
      font-family: monospace;
      font-size: 1.2em;
    }

    #source-buttons {
      text-align: right;
      margin-top: 8px;
    }
  </style>

  <body
   <h1>Algoliasearch Netlify Test Website</h1>

  <input id="search" type="search" placeholder="Search for content" />



  data-img-src="{{ page.inputPath | dirname }}/"
  data-img-dist="{{ page.outputPath | dirname }}/"
>
    <div class="page">
      {# 
  Use Every Layout's sidebar layout:
  https://absolutely.every-layout.dev/layouts/sidebar/
  #}
      <div class="with-sidebar">
        <div>
          <div class="sidebar">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@0/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'X5ZL4DYLTL',
    apiKey: '1c1a1dc5ecd1a9a44f8bc75c2408ad38',
    siteId: '66817e14-fb59-44a8-bfc6-2a50ff8d592e',
    branch: 'master',
  });
</script>

            <header role="banner" class="cluster">
              <div>
                <div class="sitelogo-parent">
                  {% if page.url == '/' %}
                    <h1 class="sitelogo">{{ site.title }}</h1>
                  {% else %}
                    <p class="sitelogo">
                      <a href="/">{{ site.title }}</a>
                    </p>
                  {% endif %}
                </div>
                <div>
                  {% include "components/navigation.njk" %}
                </div>
              </div>
            </header>

          </div>
          <div class="not-sidebar">
            <main role="main">
              {% block content %}
                {{ content | safe }}
              {% endblock %}
            </main>
          </div>
        </div>
      </div>
      {% include "components/footer.njk" %}
    </div>
    {% if build.env == 'production' %}
      <link rel="stylesheet" href="/css/{{ hashes_css['additional.css'] }}" />
    {% else %}
      <link rel="stylesheet" href="/css/additional.css" />
    {% endif %}

    {#
https://buzut.net/configurer-rollup-bundles-esm-cjs/
https://v8.dev/features/modules#browser
#}
    <script async type="module" src="/js/{{ hashes_additional_es[config.dir.assets + '/js/additional.js']}}"></script>
    <script async nomodule src="/js/{{ hashes_additional_iife[config.dir.assets + '/js/additional.js']}}"></script>
  </body>

</html>
